@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'node_modules/locomotive-scroll/dist/locomotive-scroll';

html,
body,
:root {
  height: 100%;
}

@layer utilities {
  .animate-spin {
    animation: spin 50s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
